body {
	/*
	font-family: 'BLOKKNeue-Regular'; */
	font-family:Verdana, Geneva, sans-serif;
	color: white;

	
}
#lastfm { 
	float:left; 
}
.lastplay {
	background: black;
	height: 186px;
}

.lfm_art {
	height: 126px;
	width: 126px;
	margin: 20px 20px 10px 20px;
	background-color: grey;
	float: left;
}


.lfm_album {
	clear: left;
	margin-left: 20px;
	
	}
.lfm_song {
	margin-top: 20px;
	
	}	
.lfm_artist {
	margin-top: 5px;
}


h1 {
	font-family: 'BLOKKNeue-Regular', sans-serif; 
	font-size: 6em;
	color: red;
}

p {
	font-family: 'BLOKKNeue-Regular', sans-serif; 


